body {
  font-family: "Merriweather", serif;
}
h1 i {
  font-size: 70px;
}
h1 {
  text-align: center;
  color: #080808;
  font-size: 40px;
}
ul {
  list-style-type: none;
}
h2 {
  font-size: 80px;
  color: rgb(24, 23, 23);
  text-align: center;
  display: block;
  margin: 25px;
}

.lastUpdate,
.currentTime {
  color: rgb(15, 15, 15);
  display: block;
  font-size: 15px;
  position: relative;
  top: 30px;
}

.lastUpdate {
  position: relative;
  left: 40px;
}
.icon {
  width: 100px;
}
.weather-wrapper {
  max-width: 600px;
  margin: 30px;
  position: relative;
  left: 215px;
}
.weather-app {
  background-color: #dae4dd;
  border: solid 1px #555555;
  border-radius: 10px;
}

.card-title {
  font-size: 10px;
  color: #111213;
  text-align: center;
}

.card {
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #cdc9c3;
  border: solid 1px #555555;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.enterCityForm {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.units {
  font-size: 20px;
  position: relative;
  top: -40px;
}
.clButton {
  background-color: black;
  color: #f8f6e0;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
  transition: all 300ms ease;
}

.clButton:hover {
  background-color: #fbf7f0;
  color: black;
}

.btn-primary {
  background-color: #555555;
  border-color: #555555;
  color: #fbf7f0;
}
.btn-primary:hover {
  background-color: #fbf7f0;
  background-color: #fbf7f0;
  color: #555555;
}
.units .active {
  color: #080808;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}

p img {
  width: 40px;
  text-align: center;
}
